<script>
  let count = 0
  const increment = () => {
    count ++;
  };
  const clear = () => {
    count = 0;
  };
</script>

<main>
  
  <h1>Kiehn Solutions GmbH</h1>

  <p>Boulder skip count: {count}</p>
  <button on:click={increment}>add</button>
  <button on:click={clear}>clear</button>

 
</main>

<style>
  
</style>
